@media all
{
	html, body
	{
		margin: 0;
		padding: 0;
		font-size: 100%;
	}

	body
	{
		font-family: Verdana, Geneva, Arial, sans-serif;
		font-size: small;
	}

	h1 
	{ 
		BACKGROUND: #7A9F8F; 
		MARGIN: 0px; 
		font-size : larger; 
		font-weight : bold;
		font-family : Arial, Verdana;
		COLOR: white; 		
		PADDING-RIGHT: 3px; 
		PADDING-LEFT: 3px; 
		PADDING-TOP: 3px; 
		padding-bottom : 3px;	
		text-indent : 15px;	 
		TEXT-ALIGN: left;
	}

	h2
	{ 
		BACKGROUND: #A6BDB3; 
		MARGIN: 0px; 
		font-size : medium; 
		font-weight : bold;
		font-family : Arial, Verdana;
		COLOR: black; 		
		PADDING-RIGHT: 3px; 
		PADDING-LEFT: 3px; 
		PADDING-TOP: 3px; 
		padding-bottom : 3px;	
		TEXT-ALIGN: left;
	}
	
	hr
	{
		border: 1 solid #7A9F8F;
	}
	
	.divHeader
	{
		background-color: #E0E8DE;
		color: #5E846D;
		padding: 5px;
		font-weight : bold;
		margin-bottom: 10px;
	}

	.componentTitle	
	{
		font-weight: bold;
	}
	.divStopka
	{
		text-align: right;
		font-size: x-small;
		color: Black;
		border-top: 1px solid Gray;
		margin-top: 10px;
	}

	.Wizzard
	{
		width: 100%;
	}

	.container
	{
		border : solid 5px;
	}

	.spliter
	{
	}

	.content
	{
		background: White;
		color: Navy;
		padding: 5px 5px 5px 5px;
		vertical-align : top;
		z-index : 0;
		font-size : medium;
		width : 95%;
	}
	
	.WizardButtonsPanel	
	{
		margin-top: 20px;
		text-align: left;
	}
	
	.ItemTable
	{
		font: small Verdana;
		border: 1px black;
	}
	
	.LabelCell
	{
		width: 200px;
	}
	.ItemCell
	{
		border: 1px solid #d4d0c8;
        background-color: #E0E8DE;
        color: Black;
        width: 200px;
	}	
	.textBox
	{
		width: 200px;
	}
	.dropDown
	{
		width: 205px;
	}
	.liItem
	{
		font-size: small;
	}
}

@media screen
{
	.navmenu
	{
		color: White;
		padding: 0 0 0px;
		z-index : 1;
	}	

	.leftbox
	{
		width: 200px;
		background-color: White;
		color: Navy;
		padding-top: 5px;	
		vertical-align : top;
		font-size : small; 
		z-index : 0;
	}	
}

@media print
{
	.navmenu
	{
		display: none;
	}	
	
	.leftbox
	{
		display: none;
	}
}
