<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Vulcan.Stypendia.Bll.DataManager"  connectionString="Data Source=Precel;Initial Catalog=WebStypendia;User ID=WebStypendia;Password=vcerber" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>