<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Roberta.Bll.DataManager" connectionString="Data Source=marcel;Initial Catalog=Roberta;User ID=olobolo;Password=olobolo;Connect Timeout=120"
      providerName="System.Data.SqlClient" />
    <add name="Roberta.Bll.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=merek;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>