<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">
<entity type="Bll.Category" table="Category" keyMember="id" keyType="Auto">
  <attribute member="id" field="Id" alias="Id" />
  <attribute member="name" field="Name" alias="Name" />
  <relation relationship="OneToMany" member="products" field="CategoryId"
		 type="Bll.Product" alias="Products" lazyLoad="true" cascadeDelete="true" />
</entity>
<entity type="Bll.Product" table="Product" keyMember="id" keyType="Auto">
  <attribute member="id" field="id" alias="Id" />
  <attribute member="title" field="Title" alias="Title" />
  <attribute member="description" field="Description" alias="Description" />
  <attribute member="price" field="Price" alias="Price" />
  <attribute member="categoryId" field="CategoryId" alias="CategoryId" />
  <attribute member="image" field="image" alias="Image" />
  <relation relationship="ManyToOne" member="category" field="CategoryId"
     type="Bll.Category" alias="Category" lazyLoad="true" />
  <lookup member="categoryName" alias="CategoryName" table="Category" field="Name" lookupKey="id" foreignKey="categoryId" />
    <relation relationship="OneToMany" member="pictures" field="ProductId"
			 type="Bll.Picture" alias="Pictures" lazyLoad="true" cascadeDelete="true" />  
</entity>
  <entity type="Bll.Picture" table="Picture" keyMember="id" keyType="Auto">
    <attribute member="id" field="id" alias="Id" />
    <attribute member="productId" field="ProductId" alias="ProductId" />
    <relation relationship="ManyToOne" member="product" field="ProductId"
       type="Bll.Product" alias="Product" lazyLoad="true" />
  </entity>
  <entity type="Bll.User" table="User" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="login" field="Login" alias="Login" />
    <attribute member="password" field="Password" alias="Password" />
  </entity>
</mappings>