@media all
{
	html, body
	{
		margin: 0;
		padding: 0;
		font-size: 100%;
	}

	body
	{
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	}

	h1 
	{ 
		BACKGROUND: #7A9F8F; 
		MARGIN: 0px; 
		font-size : larger; 
		font-weight : bold;
		font-family : Arial, Verdana;
		COLOR: white; 		
		PADDING-RIGHT: 3px; 
		PADDING-LEFT: 3px; 
		PADDING-TOP: 3px; 
		padding-bottom : 3px;	
		text-indent : 15px;	 
		TEXT-ALIGN: left;
	}

	h2
	{ 
		BACKGROUND: #A6BDB3; 
		MARGIN: 0px; 
		font-size : medium; 
		font-weight : bold;
		font-family : Arial, Verdana;
		COLOR: black; 		
		PADDING-RIGHT: 3px; 
		PADDING-LEFT: 3px; 
		PADDING-TOP: 3px; 
		padding-bottom : 3px;	
		TEXT-ALIGN: left;
	}

	.container
	{
		border : solid 5px;
	}

	.spliter
	{
	}

	.content
	{
		background: White;
		color: Navy;
		padding: 5px 5px 5px 5px;
		vertical-align : top;
		z-index : 0;
		font-size : medium;
		width : 95%;
	}
}

@media screen
{
	.navmenu
	{
		color: White;
		padding: 0 0 0px;
		z-index : 1;
	}	

	.leftbox
	{
		width: 200px;
		background-color: White;
		color: Navy;
		padding-top: 5px;	
		vertical-align : top;
		font-size : small; 
		z-index : 0;
	}	
}

@media print
{
	.navmenu
	{
		display: none;
	}	
	
	.leftbox
	{
		display: none;
	}
}
