<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Roberta.Bll.DataManager" connectionString="Data Source=MEREK;Initial Catalog=jajco;Persist Security Info=True;User ID=olo;Password=olo" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>